/*
!/public_html/
!/.gitignore
/public_html/.htaccess
/public_html/robots.txt
/public_html/bitrix/.settings.php
/public_html/bitrix/php_interface/dbconn.php
*.config
*.zip
*.tar
*.tar.gz
*.log
*.txt
*.xml
*.csv
*.json
*.DS_Store
/public_html/upload
/public_html/bitrix
/public_html/local
/public_html/include
/public_html/private
