@import './bootstrap.css' layer(default);
@import './variables.css';
@import './helpers.css';

* {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

.gap-16 {
  gap: 16px !important;
}

.gap-30 {
  gap: 30px !important;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.h-full {
  height: 100%;
}
