@import './bootstrap.css';
@import './variables.css';

* {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

.gap-16 {
    gap: 16px !important;
}

.gap-30 {
    gap: 30px !important;
}